<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Sign Up</h1>
          <h6>Register yourself!</h6>
        </div>
        <form [formGroup]="signupForm" (ngSubmit)="signUp()">
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Full Name</label>
            <input type="text" formControlName="fulllName" class="form-control" placeholder="Enter fullname"
              id="exampleInputPassword1">
            <span *ngIf="signupForm.controls['fulllName'].dirty && signupForm.hasError('required', 'fulllName')"
              class="text-danger">* First name required</span>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Mobile Number</label>
            <input type="number" formControlName="mobile" placeholder="Enter Mobile number" class="form-control"
              id="exampleInputPassword1">
            <span *ngIf="signupForm.controls['mobile'].dirty && signupForm.hasError('required', 'mobile')"
              class="text-danger">* Mobile number required</span>
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" formControlName="email" placeholder="Enter email" class="form-control"
              id="exampleInputEmail1" aria-describedby="emailHelp">

            <span *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required', 'email')"
              class="text-danger">* Email ID is required</span>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>

          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" formControlName="password" placeholder="Enter password" class="form-control"
              id="exampleInputPassword1">
            <span *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required', 'password')"
              class="text-danger">* Password required</span>

          </div>
          <button type="submit" [disabled]="!signupForm.valid" class="btn btn-primary">Sign up</button>
        </form>
        <a routerLink="/login">Already registered ? Click to login!!!</a>
      </div>
    </div>
  </div>
</div>
